.usedcars-top-text {
    background-color: rgb(0, 130, 216);
    color: rgb(255, 251, 247);
    padding: 100px;
}

.left-side-logos {
    width: 50px;
    height: 50px;
}

.left-side-logos:hover {
    width: 70px;
    background-color: rgb(0, 130, 216);
}

.fixed-leftside-logos {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 130, 216);
    width: 50px;
    position: fixed;
    top: 150px;
}

.card {
    display: flex;
    width: 220px;
    height: 50px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    box-shadow: 5px 5px rgb(155, 155, 155);
}

.card-img {
    width: 220px;
    height: 100px;
}

.product {
    text-align: center;
}

.card-carinfo {
    color: rgb(8, 194, 39);
    margin-left: 10px;
}

.card-price {
    color: rgb(0, 78, 0);
    margin-left: 10px;
}

.card-city {
    color: rgb(59, 59, 59);
    margin-left: 10px;
}

.card-text {
    height: 100px;
}

.all-usedcar-ads {
    width: 81%;

    margin: 0% auto;
}

.head {
    text-align: center;
}

.pics {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.ad-btn {
    width: 50px;
    height: 40px;
    border-radius: 8px;
    background-color: greenyellow;
    border: 1px solid greenyellow;
}

.cat {
    border: 2px solid black;
    border-radius: 8px;
    width: 250px;
    height: 30px;
    padding: 20px;
    color: rgb(11, 255, 11);
}

.picd {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-btn {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 1px solid greenyellow;
    border-radius: 8px;
}